.edit_form{
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-top: 45px;
    
}
.general{
    box-sizing: border-box;
    max-width: 50%; 
    margin-top: 15px;
    
}
.about{
    box-sizing: border-box;
    max-width: 39%;
    margin-bottom: 100px;
    margin-left: 50px;
}
.edit_form div{
    margin-bottom: 20px;
}
.buttons{
    display: inline-block;
    margin-left: 250px;
}
.save{
    margin-left: 15px;
}
