.movie{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    word-wrap: wrap;
    width: min-content;
    margin-bottom: 40px;  
}
.poster{
    width: 70px;
    height:90px;
    margin-top: 20px;
}
.poster img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
