.movie {
  min-width: 100%;
}
.movie_container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  min-width: 320px;
  padding: 1rem;
  flex-direction: column;
  overflow: hidden;
}
.movie_container_details {
  display: flex;
}
.poster_container {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.poster_container img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.movie_description {
  display: flex;
  width: 50%;
  flex-direction: column;
  margin-left: 2rem;
}
.movie_description div {
  margin-bottom: 0.5rem;
}
.buttons_container {
  align-self: flex-end;
  margin-bottom: 1rem;
}
.edit {
  margin-right: 1rem;
}
.movie_carousel {
  margin-top: 2rem;
}
@media (width < 768px) {
  .movie_container_details {
    flex-direction: column;
    align-items: center;
  }
  .poster_container {
    width: 100%;
  }
  .movie_description {
    width: 100%;
    margin-left: 0;
  }
}
@media (1024px <= width) {
  .movie_container {
    max-width: 1200px;
  }
}
