.details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-top: -5px;
}

.general {
    box-sizing: border-box;
    max-width: 35%;
    margin-right: 20px;
}

.about {
    box-sizing: border-box;
    max-width: 39%;
    justify-content: center;
    margin-left: 50px;
    margin-top: 80px;
}

.about div {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
}

.edit {
    margin-right: 15px;
}

.poster {
    width: 400px;
    height: 600px;
    margin-top: 20px;
}

.poster img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.spin {
    margin: 0 auto;
    margin-top: 200px;
}